.btn:hover {
    transform: translateY(-1px);
}
.btn-white {
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}
.btn-black {
    text-transform: uppercase;
    background-color: #222;
    color: $btn_orange;
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
}
.btn-black:hover {
    color: $btn_orange;
}
.btn-white:hover {
    color: $btn_purple;
}
.brand {
    font-size: 4vw;
}