.input-icon {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: black;
}
input.green-outline {
    outline: none;
}

input.green-outline:focus {
    border: 3px solid #4CAF50 !important;;
}
.text-green {
    color: #006400 !important;
}



